/* YourComponent.css */
.container {
    /* text-align: center; */
     border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 380px;
    background-color: white;
  }

  .button-container {
    margin-top: 20px;
  }
  
  button {
    /* margin: 5px; */
    /* padding: 10px 20px; */
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-container {
    /* padding: 0px !important; */
    margin: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: #007bff; */
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

  }
  
  .search-input {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .search-icon {
    position: absolute;
    margin-left: -35px; 
    color: #333; 
  }
  
  .metadata-container {
    display: flex;
    flex-direction: column;
  }
  
  .metadata-row {
    display: flex;
    margin: 5px 0; 
  }
  
  .round-image {
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 10px; 
  }
  
  .metadata-image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .metadata-text {
    margin-top: 0px;
    margin-left: 10px;
    text-align: initial;
  }
  
  .group-text{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 14px;
  }
  .group-text2{
    margin-top: -6px;
    margin-bottom: 2px;
    font-size: 11px;
    opacity: 0.6;
  }

  .group-button{
     display: flex;
    border-radius: 100px;
    padding: 7px 18px;
    background-color: white;
    color: black;
    border: 1px solid black;
    gap: 5px;
  }
  
  .search-icon{
    position: absolute;
    right: 1rem;
  }
  .group-heading{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
  }

  .group-button-container{
    display: flex;
    gap: 5px;
  }

  @media screen and (min-width: 992px) and (max-width: 1280px) {
    .container {
       border: 2px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      width: 300px;
      background-color: white;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
       border: 2px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      width: 270px;
      background-color: white;
    }
  }

  @media screen and (min-width: 570px) and (max-width: 767px) {
    .container {
       border: 2px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      width: 450px;
      background-color: white;
    }
  }

  @media screen and (max-width: 570px) {
    .container {
       border: 2px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      width: 315px;
      background-color: white;
    }
  }


